<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename="app.css") }}">
    <title>
        {{ title }}
    </title>
</head>
<body>


    <div id="toast_container"></div>


    <nav>
        <a class="{{ active_index }}" id="test" href="/">Company</a>
        <a class="{{ active_contact_us }}" href="/contact-us">Contact us</a>
        <a class="{{ active_about_us }}" href="/about-us">About us</a>
        <a class="{{active_items}}" href="/items">Items</a>
        <div>
            <a class="{{active_signup}}" href="/signup" class="my_test">Signup</a>




            {% if is_session: %}
                <a class="{{ active_login }}" href="/logout">Logout</a>
            {% else: %}
                <a class="{{ active_login }}" href="/login">Login</a>
            {% endif %}

        </div>
    </nav>
